# VPS Konfigurasi Baru (.env)
# Gunakan "db" karena ini nama service di docker-compose.yml
DATABASE_URL=postgresql://user_flying:password_flying_finish@db:5432/flying_finish_db

# Opsional: Jika ingin port Flask lain (Default: 5000)
PORT=5000
